
<html>
<head>Please wait...</head>
<body>

<form id="order_form" action="https://api.paymentwall.com/api/subscription/" method="get" target="_top">
    <input type="hidden" name="key" value="45fb3987c252c50cd90a1ade89676c3d">
    <input type="hidden" name="uid" value="{{ invoice.id }}">
    <input type="hidden" name="widget" value="p1_1">

    <input type="hidden" name="success_url" value="http://beta.vpn.ht/paymentwall/redirect">
    <input type="hidden" name="pingback_url" value="http://beta.vpn.ht/paymentwall/events">
    <input type="hidden" name="display_goodsid[1]" value="monthly">

</form>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript">
$(function() {
   $('#order_form').submit();
});
</script>
</body>
</html>
