<div class='row plan-selector col-md-offset-3' style="margin-top:20px">
	<div class='col-sm-4'>
		<div class='plan' data-package='{"cost":"4.99", "plan":"monthly", "special":false}' id='package_1'>
			<div class='plan-box'>
				<div class='checkmark'>
					<div class='glyphicon glyphicon-ok'></div>
				</div>
				<div class='plan-name'>1 Month</div>
				<div class='plan-amount'>
					<div class='price'>
						<div class='sup'>$</div>
						<div class='monthly-amount'>4.99</div>
					</div>
					<div class='per-month'>per month</div>
				</div>
				<div class='divider'></div>
				<div class='billing-info'>Billed every month.</div>
			</div>
		</div>
	</div>
	<div class='col-sm-4'>
		<div class='best-deal plan selected' data-package='{"cost":"39.00", "plan":"yearly", "special":false}' id='package_2'>
			<div class='plan-box'>
				<div class='checkmark'>
					<div class='glyphicon glyphicon-ok'></div>
				</div>
				<div class='plan-name'>12 Months</div>
				<div class='best-deal-sticker'>
					<span>Most Popular</span>
				</div>
				<div class='plan-amount'>
					<div class='price'>
						<div class='sup'>$</div>
						<div class='monthly-amount'>3.33</div>
					</div>
					<div class='per-month'>per month</div>
				</div>
				<div class='divider'></div>
				<div class='billing-info'>Billed every 12 months.</div>
			</div>
		</div>
	</div>

</div>
