{% extends 'layouts/application.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

    <div class="row PageHead">
      <div class="col-md-12">
        <h1>DMCA / Copyright Policy</h1>
      </div>
    </div>

    <div class="col-md-12" style="margin-top:30px">

<strong>Digital Millenium Copyright Act Notice </strong><br />
<br />
COPYRIGHT COMPLAINTS AND DESIGNATED COPYRIGHT AGENT THIS NOTICE IS SUBJECT TO MODIFICATION OR TERMINATION AT ANY TIME, WHETHER FOR CHANGES IN THE LAW OR AT THE CONVENIENCE OF VPN.ht, WITHOUT ADVANCE NOTICE. YOU MUST CHECK BACK FREQUENTLY TO ENSURE THAT YOU SEE A CORRECT, CURRENT VERSION OF THE NOTICE.<br />
<br />
Pursuant to the Digital Millennium Copyright Act, Title 17, United States Code, Section 512(c), a copyright owner or its authorized agent (&quot;Complainant&quot;) may submit a notification alleging copyright infringement to VPN.ht Designated Copyright Agent if Complainant has a good-faith belief that its works are being infringed by material subject to VPN.ht control. To file a notice of infringement with us, you must provide a written communication (by fax or regular mail -- not by email, except by prior agreement) that sets forth the items specified below. Please note that you will be liable for damages (including costs and attorneys&#39; fees) if you materially misrepresent that a product or activity is infringing your copyrights.<br />
<br />
VPN.ht will investigate proper notifications sent, please review the steps below:<br />
<br />
1.) Identify in sufficient detail the copyrighted work that you believe has been infringed upon.<br />
<br />
2.) Identify the material that you claim is infringing the copyrighted work listed in item #1 above.<br />
<br />
3.) Provide information reasonably sufficient to permit VPN.ht to contact you (email address is preferred).<br />
<br />
4.) Provide information, if possible, sufficient to permit VPN.ht to notify the owner/administrator of the allegedly infringing webpage or other content (email address is preferred).<br />
<br />
5.) Include the following statement: &quot;I have a good faith belief that use of the copyrighted materials described above as allegedly infringing is not authorized by the copyright owner, its agent, or the law.&quot;<br />
<br />
6.) Include the following statement: &quot;I swear, under penalty of perjury, that the information in the notification is accurate and that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.&quot;<br />
<br />
7.) Sign the paper.<br />
<br />
8.) Send the written communication to the following address:<br/><br/>
<p>VPN.ht</p>
<p>16 Lauren Berges Crescent,<br />
Belama Phase-3, Belize City, Belize<br />
888-427-5329<br />
Email: <a href="mailto:support@vpn.ht">support@vpn.ht</a>

<hr/>

<strong>Counter Notification</strong><br />
<br />
The administrator of an affected site or the provider of affected content may make a counter notification pursuant to sections 512(g)(2) and (3) of the Digital Millennium Copyright Act. When we receive a counter notification, we may reinstate the material in question.<br />
<br />
To file a counter notification with us, you must provide a written communication (by fax or regular mail -- not by email, except by prior agreement) that sets forth the items specified below. Please note that you will be liable for damages (including costs and attorneys&#39; fees) if you materially misrepresent that a product or activity is not infringing the copyrights of others. Accordingly, if you are not sure whether certain material infringes the copyrights of others, we suggest that you first contact an attorney. A sample counter notification may be found <a href="https://gist.github.com/phnz/81e57cb732f159f90d4d" target="_blank">by clicking here</a>.<br />
<br />
To expedite our ability to process your counter notification, please use the following format (including section numbers):<br />
<br />
1.) Identify the specific URLs or other unique identifying information of material that VPN.ht has removed or to which VPN.ht has disabled access.<br />
<br />
2.) Provide your name, address, telephone number, email address, and a statement that you consent to the jurisdiction of Federal District Court for the judicial district in which your address is located (or Santa Clara County, California if your address is outside of the United States), and that you will accept service of process from the person who provided notification under subsection (c)(1)(C) or an agent of such person.<br />
<br />
3.) Include the following statement: &quot;I swear, under penalty of perjury, that I have a good faith belief that each search result, message, or other item of content identified above was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled, or that the material identified by the complainant has been removed or disabled at the URL identified and will no longer be shown.&quot;<br />
<br />
4.) Sign the paper.<br />
<br />
5.) Scan and send the written communication to the following email address: <a href="mailto:support@vpn.ht">support@vpn.ht</a><br />
<br />

    </div>


{% endblock %}
