{% extends 'layouts/application.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

  <div class="row PageHead">
    <div class="col-md-12">
      <h1>Create your Account</h1>
      <h3>Instant account activation !</h3>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3 vpnform">
      <form action="/signup" class="form" method="POST">

        <p>
          <input type="text" name="username" class="form-control" placeholder="Username" value="{{form.username}}" autofocus>
        </p>

        <p>
          <input type="text" name="email" class="form-control" placeholder="Email address" value="{{form.email}}">
        </p>

        <p>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      </form>
      <hr>
  </div>

{% endblock %}
