{% extends 'layouts/popcorntime.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<form action="/popcorntime" class="form" method="POST">
<div class="order_page">
  <div class="row mainFeatures" id="features">
    <div class="col-sm-6 col-md-4">
      <div class="img-thumbnail"> <img src="/images/secure_img.png" width="85" height="88" alt="secure">
        <div class="caption">
          <h4>Online Privacy</h4>
          <p>Encrypt your Internet traffic and hide your IP address from hackers and spies.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="img-thumbnail"> <img src="/images/pt.png" height="88" alt="secure">
        <div class="caption">
          <h4>Popcorn Time Integration</h4>
          <p>Built-in Popcorn Time VPN. Watch the content you want anonymously.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-0">
      <div class="img-thumbnail"> <img src="/images/support_img.png" width="85" height="88" alt="secure">
        <div class="caption">
          <h4>Customer Support</h4>
          <p>We have a dedicated team of support to help you in anytime. You can also chat with us.</p>
        </div>
      </div>
    </div>
  </div>

  {% include "./partials/flash-signup.html" %}

  <div class="row PageHead">
    <div class="col-md-12">
      <h1>Select a plan that works for you</h1>
      <h3>100% Money-Back Guarantee for your first 30 days of service</h3>
    </div>
  </div>

  {% include "./partials/plan-selector-popcorntime.html" %}

  <br style="clear:both"/>
  <hr>
  <div class="row PageHead">
    <div class="col-md-12">
      <h1>Account Details</h1>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3 vpnform">


        <p>
          <input type="text" name="username" class="form-control" placeholder="Username" value="{{form.username}}" >
        </p>

        <p>
          <input type="text" name="email" class="form-control" placeholder="Email address" value="{{form.email}}">
        </p>

        <p>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </p>

  </div>

  <br style="clear:both"/>
  <hr>
  <div class="row PageHead">
    <div class="col-md-12">
      <h1>Method of Payment</h1>
    </div>
  </div>

  {% include "./partials/method-of-payment.html" %}

</div>
<input id="plan" type="hidden" name="plan" value="" />
<input id="payment_method" type="hidden" name="payment_method" value="" />
<input type="hidden" name="coupon"value="POPCORNTIME" />
</form>
{% endblock %}
