{% extends '../layouts/dashboard.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <div class="container-fluid container-max">
    <div class="page-header">
      <h1>Billing <small>/views/dashboard/billing</small></h1>
    </div>
    {% include "../partials/flash.html" %}

    {%if !user.coupon%}

    <div class="page-header">
      <h3>Coupon</h3>
    </div>

    <form action="/user/coupon" method="POST" class="form-horizontal">
        <div class="form-group">
          <label for="plan" class="col-sm-3 control-label">Coupon code</label>
          <div class="col-sm-4">
            <input id="coupon" name="coupon" type="text" class="form-control" value="{{user.coupon}}" {%if user.coupon%}disabled{% endif %}>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
            <button type="submit" class="btn btn-primary">Apply</button>
          </div>
        </div>
    </form>
    {% endif %}

    <form action="/user/pay" method="POST" class="form-horizontal">
        <div class="order_page" style="margin-top:40px;">
            {% include "../partials/plan-selector.html" %}
            {% include "../partials/method-of-payment.html" %}
            <input id="plan" type="hidden" name="plan" value="" />
            <input id="payment_method" type="hidden" name="payment_method" value="" />
            <input type="hidden" name="coupon"value="{{user.coupon}}" />
        </div>
    </form>
    <br style="clear:both"/>

    <div class="page-header">
      <h3>Delete Account</h3>
    </div>
    <form action="/user/delete" method="POST" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4"><button type="submit" class="btn btn-danger"><span class="ion-edit"></span>Delete Account</button></div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
