{% extends '../layouts/dashboard.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <div class="container-fluid container-max">
    <div class="page-header">
      <h1>Billing <small>/views/dashboard/billing</small></h1>
    </div>
    {% include "../partials/flash.html" %}

    {%if !user.coupon%}

    <div class="page-header">
      <h3>Coupon</h3>
    </div>

    <form action="/user/coupon" method="POST" class="form-horizontal">
        <div class="form-group">
          <label for="plan" class="col-sm-3 control-label">Coupon code</label>
          <div class="col-sm-4">
            <input id="coupon" name="coupon" type="text" class="form-control" value="{{user.coupon}}" {%if user.coupon%}disabled{% endif %}>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
            <button type="submit" class="btn btn-primary">Apply</button>
          </div>
        </div>
    </form>
    {% endif %}

    <div class="page-header">
      <h3>Subscription</h3>
    </div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#cc" aria-controls="home" role="tab" data-toggle="tab">Credit Card</a></li>
    <li role="presentation"><a href="#bitcoin" aria-controls="profile" role="tab" data-toggle="tab">Bitcoin</a></li>
    <!--<li role="presentation"><a href="#paypal" aria-controls="messages" role="tab" data-toggle="tab">Paypal</a></li>-->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="cc" style="margin-top:30px;">

        <form {% if !user.stripe.last4 %}id="cardForm"{% endif %} action="/user/plan" method="POST" class="form-horizontal">
          <div class="form-group">
            <label for="plan" class="col-sm-3 control-label">Plan</label>
            <div class="col-sm-4">
              {% for plan in plans %}
                <div class="radio">
                  <label>
                    <input data-key='{{loop.key}}' class='planRadio' type="radio" {% if user.stripe.plan == loop.key %}checked{% endif %} name="plan" value="{{loop.key}}" data-toggle="radio">
                    {%if user.coupon === 'POPCORNTIME' && plan.name === 'Monthly'%}
                        <span>{{plan.name}} - <s>${{plan.price}}</s> $1 for the first month ({{user.coupon}})</span>
                    {% else %}
                        <span>{{plan.name}} - ${{plan.price}}</span>
                    {% endif %}
                  </label>
                </div>
              {% endfor %}
            </div>
          </div>
          {% if !user.stripe.last4 %}
          <div id="cardWrapper">
            <div class="form-group">
              <label class="col-sm-3 control-label">Full Name</label>
              <div class="col-sm-4">
                <input id="card-name" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Card Number</label>
              <div class="col-sm-4">
                <input id="card-num" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Card Details</label>
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-xs-4">
                    <input id="card-month" type="text" size="2" maxlength="2" class="form-control" placeholder="MM">
                  </div>
                  <div class="col-xs-4">
                    <input id="card-year"  type="text" size="2" maxlength="2" class="form-control" placeholder="YY">
                  </div>
                  <div class="col-xs-4">
                    <input id="card-cvc" type="text" size="3" maxlength="3" class="form-control" placeholder="CVC">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Zip Code</label>
              <div class="col-sm-2">
                <input id="card-zip" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <div id="cardFormError" class="alert alert-danger hidden" role="alert">
                  <p>{{error}}</p>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
              <button type="submit" class="btn btn-primary">Update Plan</button>
            </div>
          </div>
        </form>

        {% if user.stripe.last4 %}
        <div class="page-header">
          <h3>Payment Details</h3>
        </div>
        <form role="form" id="cardForm" action="/user/billing" method="POST" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label">Current card</label>
            <div class="col-sm-7">
              <div class="form-control-static">XXXX XXXX XXXX {{user.stripe.last4}}</div>
            </div>
          </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Full Name</label>
          <div class="col-sm-4">
            <input id="card-name" type="text" class="form-control">
          </div>
        </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Card Number</label>
            <div class="col-sm-4">
              <input id="card-num" type="text" class="form-control" placeholder="XXXX XXXX XXXX {{user.stripe.last4}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Card Details</label>
            <div class="col-sm-4">
              <div class="row">
                <div class="col-xs-4">
                  <input id="card-month" type="text" size="2" maxlength="2" class="form-control" placeholder="MM">
                </div>
                <div class="col-xs-4">
                  <input id="card-year"  type="text" size="2" maxlength="2" class="form-control" placeholder="YY">
                </div>
                <div class="col-xs-4">
                  <input id="card-cvc" type="text" size="3" maxlength="3" class="form-control" placeholder="CVC">
                </div>
              </div>
            </div>
          </div>
         <div class="form-group">
          <label class="col-sm-3 control-label">Zip Code</label>
          <div class="col-sm-2">
            <input id="card-zip" type="text" class="form-control">
          </div>
         </div>
          <div class="form-group">
            <div class="col-sm-6">
              <div id="cardFormError" class="alert alert-danger hidden" role="alert">
                <p>{{error}}</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
              <button type="submit" class="btn btn-primary">Update Card</button>
            </div>
          </div>
        </form>
        {% endif %}

    </div>
    <div role="tabpanel" class="tab-pane" id="bitcoin">

        <div style="margin-top:50px">

            {% for plan in plans %}
            <hr/>
              <div class="form-group">

                  {%if user.coupon === 'POPCORNTIME' && plan.name === 'Monthly'%}
                    <label class="col-sm-3 control-label">{{plan.name}} - <s>${{plan.price}}</s> $1 for the first month ({{user.coupon}})</label>
                      <div class="col-sm-2">
                            <form action="https://bitpay.com/checkout" method="post" >
                              <input type="hidden" name="action" value="checkout" />
                              <input type="hidden" name="posData" value="{{user.id}}" />
                              <input type="hidden" name="data" value="+5H7X1M1Xobof2NYIWtz6YKAuvjvMG8XhpuOkdKq61P2EbEmF4IawvuMTNGg6coDrO7dPEL+3RWWfaXj18EbRXfTIiCoU92vn2COsJhoYI1dyEMO++S7GF0XgAloa1Z2rqcAFWWGNFOihEHLMaANWzkco+HKFcNxme/8tEri3pb26zhE6Dx4ZY6QxMbkX1Y0z4+QcFhovJTi9pJyiU7V44wsOX/0Ub23QdlOlMdI0iDv2OXdJT4TZmFpytXCKa3LF5wV3kf2iLyp81YuScouxPBpHpjvhBy2j6uGs/XPQGEgM8ob8T15H+1l8uQRAn8u" />
                              <input type="image" src="https://bitpay.com/img/button5.png" border="0" name="submit" alt="BitPay, the easy way to pay with bitcoins." >
                            </form>
                        </div>
                    {% elseif plan.name === 'Yearly' %}
                        <label class="col-sm-3 control-label">{{plan.name}} - ${{plan.price}}</label>
                        <div class="col-sm-2">
                            <form action="https://bitpay.com/checkout" method="post" >
                              <input type="hidden" name="action" value="checkout" />
                              <input type="hidden" name="posData" value="{{user.id}}" />
                              <input type="hidden" name="data" value="+5H7X1M1Xobof2NYIWtz6YKAuvjvMG8XhpuOkdKq61P2EbEmF4IawvuMTNGg6coDjpJuJgD6bsJvhgVEgd2m4wdm0Ts+Xa0ZtPNzzF1jUqYyev7lJnjAwmHEVLNLQEwsPduomKJBLOIXB/qJ3o1/lQ7Ytg0EZLDefhapgvhkdDg7e7pxGTUD8lzPbV2o6us4cj5oiXYQvnezW48o1djdco0SbsIVHTSAlCPfTsFxzZaMFsNlXtxwY06+J8a4ZidBnCU+bhmOXLRvP0B8+Mv7fUT/Hh44QaIShaX2Xh8gtLEICtTP2pAsergd0vaMq4tR" />
                              <input type="image" src="https://bitpay.com/img/button5.png" border="0" name="submit" alt="BitPay, the easy way to pay with bitcoins." >
                            </form>
                        </div>

                    {% elseif plan.name === 'Monthly' %}
                        <label class="col-sm-3 control-label">{{plan.name}} - ${{plan.price}}</label>
                        <div class="col-sm-2">
                           <form action="https://bitpay.com/checkout" method="post" >
                              <input type="hidden" name="action" value="checkout" />
                              <input type="hidden" name="posData" value="{{user.id}}" />
                              <input type="hidden" name="data" value="+5H7X1M1Xobof2NYIWtz6YKAuvjvMG8XhpuOkdKq61P2EbEmF4IawvuMTNGg6coDrO7dPEL+3RWWfaXj18EbRXfTIiCoU92vn2COsJhoYI02LqUfhZARK5Q1Wo53mZ0VeYcq+XMPEjf5O/adm/cckG8r5/jwh5bmn2xOY/b0kvplNpAVXYHNFNxgUkPOUhtQGX6b/IEKxmdB5iXZ+TDs3PA6eHUlFnbbDaU60eEvKe1CZD/9pWBdvbb/3s/qRqkEQujvrzQ/WuTnW0J8StKEIfeGq2fvmSWwmUl7LXudL1xJ7wKhTgXFAqRrVSt4YclK" />
                              <input type="image" src="https://bitpay.com/img/button5.png" border="0" name="submit" alt="BitPay, the easy way to pay with bitcoins." >
                            </form>
                        </div>
                  {% endif %}
              </div>
              <br style="clear:both"/>
            {% endfor %}
        </div>

    </div>

  </div>

</div>

    <br style="clear:both"/>

    <div class="page-header">
      <h3>Delete Account</h3>
    </div>
    <form action="/user/delete" method="POST" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4"><button type="submit" class="btn btn-danger"><span class="ion-edit"></span>Delete Account</button></div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
