<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/vendor/bootstrap.min.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="css/hosting.css" rel="stylesheet" media="all">
<script src="js/vendor/modernizr.js"></script>

<link rel="stylesheet" href="css/flexslider.css" />
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/jquery.flexslider.js"></script>
<script type="text/javascript">
  $(window).load(function() {
     $('.flexslider').flexslider({
        animation: "slide",
        useCSS: Modernizr.touch
      });
  });
</script>

<!--==============CONTACT FORM=================-->
<script src="js/contact_form.js"></script>
</head>
<body id="home" data-spy="scroll" data-target=".navbar-collapse" data-offset="100">

<!--==============Logo & Menu Bar=================-->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#"> <img src="images/logo.png" alt="logo"></a> </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">HOME</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="mailto:support@vpn.ht" role="button" class="btn btn-success">Support</a></li>
      </ul>
      </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  </div>
</nav>

<!--==============HEADER =================-->
<div class="jumbotron masthead" style="height:450px !important; padding:0px !important;">

  <!--==============Hero Unit=================-->
  <div class="container">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="hero-unit">
            <h1>Anonymous VPN Service</h1>
            <h3>Access blocked content worldwide and get total privacy online with our top-rated VPN service</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--==============Content Area=================-->

<div class="container">


        {%- block content -%}
            {% include "../partials/flash.html" %}
        {%- endblock-%}
    </div>


<!--============== Footer ==============-->

<div class="footer">
  <div class="container">
    <div class="row footerlinks">
        <div class="row copyright pull-right">
          <p>Copyright &copy; 2014. VPN.HT</p>
        </div>
        <div class="col-sm-4 col-md-2">
          <p>CONTACT US</p>
          <ul>
            <li>support@vpn.ht</li>
            <li>+1 888-427-5329</li>
          </ul>
        </div>

        <div class="col-sm-4 col-md-2  ">
          <p>LEGAL TERMS</p>
          <ul>
            <li><a href="#">Terms of use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>

    </div>

  </div>
</div>

<!--===Back to top======-->
<a href="#" class="scrollup">Scroll</a>

<!--==============QUERY LIBRARY=================-->

<script src="js/vendor/jquery.easing.1.2.js"></script>

<!--==============BOOTSTRAP JS=================-->

<script src="js/vendor/bootstrap.min.js"></script>

<!--==========ONE PAGE SCROLLING SCRIPTS STARTS===============-->

<script>
            $(function() {
                $('.nav li a').bind('click',function(event){
                    var $anchor2 = $(this).parent();
                    var $anchor = $(this);
                    $('.nav  li').removeClass('active');
                    $anchor2.addClass('active');

                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top - 80
                    }, 1500,'easeInOutExpo');
                    event.preventDefault();
                });

                $('.anchored').bind('click',function(event){
                    var $anchor = $(this);

                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top - 80
                    }, 1500,'easeInOutExpo');
                    event.preventDefault();
                });
            });
        </script>

<!--=============ONE PAGE SCROLLING SCRIPTS ENDS============-->

<!--=============BACK TO TOP STARTS============-->

<script>
    $(document).ready(function(){

        $(window).scroll(function(){
            if ($(this).scrollTop() > 800) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });

        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });

    });
</script>

<!--=============BACK TO TOP ENDS============-->

</body>
</html>
