<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>VPN.ht - Anonymous VPN Service</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/vendor/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="/css/hosting.css" rel="stylesheet" media="all">
<script src="/js/vendor/modernizr.js"></script>
<script src="/js/vendor/jquery.min.js"></script>

</head>
<body id="home" data-spy="scroll" data-target=".navbar-collapse" data-offset="100">

<!--==============Logo & Menu Bar=================-->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/"> <img src="/images/logo.png" alt="logo"></a> </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a {%if path == '/profile'%}role="button" class="btn btn-success"{%endif%} href="/profile">Profile</a></li>
        <li><a {%if path == '/billing'%}role="button" class="btn btn-success"{%endif%} href="/billing">Billing</a></li>
        <li><a {%if path == '/documentation'%}role="button" class="btn btn-success"{%endif%} href="/documentation">Documentation</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="mailto:support@vpn.ht">Support</a></li>
      </ul>
      </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  </div>
</nav>

<!--==============HEADER =================-->
<div class="jumbotron masthead" style="height:450px !important; padding:0px !important;">

  <!--==============Hero Unit=================-->
  <div class="container">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="hero-unit">
            <h1>Anonymous VPN Service</h1>
            <h3>Access blocked content worldwide and get total privacy online with our top-rated VPN service</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--==============Content Area=================-->

<div class="container">
        {%- block content -%}{%- endblock-%}
</div>


<!--============== Footer ==============-->

<div class="footer">
  <div class="container">
    <div class="row footerlinks">
        <div class="row copyright pull-right">
          <p>Copyright &copy; 2014. VPN.HT</p>
        </div>
        <div class="col-sm-4 col-md-2">
          <p>CONTACT US</p>
          <ul>
            <li>support@vpn.ht</li>
            <li>+1 888-427-5329</li>
          </ul>
        </div>

        <div class="col-sm-4 col-md-2  ">
          <p>LEGAL TERMS</p>
          <ul>
            <li><a href="/terms">Terms of use</a></li>
          </ul>
        </div>

    </div>

  </div>
</div>

    <script src="/js/vendor/bootstrap.min.js"></script>


    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('{{stripePubKey}}');
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/flat-ui.min.js"></script>
    <script src="/js/app.js"></script>

<!--=============BACK TO TOP ENDS============-->

</body>
</html>
